body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	min-height: 100vh;
}

header{
	width: 100%;
	height: 64px;
	background: dimgray;
	box-shadow: 0px 0 7px 1px black;
	display: flex;
}

header a{
	margin:auto;
	text-decoration: none;
	font-size: 24px;
	color: white;
	text-shadow: 0px 0px 2px black;
}

header b{
	margin:auto;
	font-size: 38px;
	color: white;
	text-shadow: 0px 0px 2px black;
}

main{
	margin: 30px;
	flex: 1;
}

footer{
	width: 100%;
	height:32px;
	background: gray;
	box-shadow: 0px 0 7px 1px black;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 2px black;
}

footer .noscrollable_footer{
	position: fixed;
 	bottom: 0;
}

#code_line{
	font-family: monospace;
	margin:auto;
	background: black;
	color: white;
	width:375;
	height:125px;
	text-align: center;
	border:5px solid orange;
	font-size: 28px;
	box-shadow: 0px 0 7px 1px black;
	margin-bottom: 60px;
}

#cards_box{
	display: flex;
   flex-wrap: wrap;
   gap: 20px; 
}

.cards{
	background:lightgray;
	padding: 5px;
	margin:15px;
	width: 150px;
	text-align: center;
	border: 2px solid black;
}

.cards .name{
	background:white;
	box-shadow: 0px 0 1px 1px black inset;
	padding: 5px;
}

.cards button{
	background:darkgreen;
	border: 2px solid black;
	color:white;
}
